@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --font-size-p: 14px;
    --dark-cyan-color: hsl(158, 36%, 37%);
    --cream-color: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --family-Fraunces: 'Fraunces';
    --family-Montserrat: 'Montserrat';
}

body{
    padding: 0;
    margin: 0;
    /* max-width: 1440px; */
}

.container{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--cream-color);
}

.box{
    max-width: 90vw;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.main_img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.main{
    padding: 16px;
    width: 100%;
}

.small_title{
    font-family: var(--family-Montserrat), sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    color: var(--dark-grayish-blue);
}

.main_title{
    font-family: var(--family-Fraunces), sans-serif;
    text-transform: capitalize;
    color: var(--very-dark-blue);
}

.main_description{
    font-family: var(--family-Montserrat), sans-serif;
    font-size: var(--font-size-p);
    color: var(--dark-grayish-blue);
    margin-bottom: -10px;
}

.main_price{
    display: flex;
    align-items: center;
    gap: 15px;
}

.discount_price{
    color: var(--dark-cyan-color);
    font-family: var(--family-Fraunces), sans-serif;
    font-size: 30px;
}

.old_price{
    color: var(--dark-grayish-blue);
    font-family: var(--family-Montserrat), sans-serif;
    font-size: 10px;
    text-decoration: line-through;
}

.main_button{
    margin-top: -15px;
}

.btn{
    display: inline-block;
    background: var(--dark-cyan-color);
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: 0.1s ease-in-out;

    font-family: var(--family-Montserrat), sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.btn:hover{
    transform: scale(1.05);
}

@media(min-width: 800px) {
    .box{
        flex-direction: row;
        justify-content: center;

        max-width: 35vw;
        border-radius: 10px;
        background-color: white;
    }

    .main{
        width: 55%;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        /* padding: 22px; */
    }

    .main_title{
        padding-right: 70px;
    }

    #img_change{
        content: url(./images/image-product-desktop.jpg);
    }

    .main_img{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        width: 45%;
    }
}